.headerBlock {
    height: 60px;
    background-color: #16216c;
    position: relative;
}

.menuBtn {
    background-color: aliceblue !important;
    position: absolute;
    top: 10px;
    left: 20px;
    border: 0px !important;
    border-radius: 50%;
}

.clsBtn {
    background-color: aliceblue !important;
    position: absolute;
    top: 10px;
    left: 20px;
    border: 0px !important;
    border-radius: 50%;
}

.headerBlock .headTitle {
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
}