.logoImage {
    text-align: center;
    margin-top: 30px;
}

.privacyandpolicy {
    color: #16216c;
    margin: 15px 0px 20px 0px;
}

.container {
    margin: auto;
    text-align: justify;
}

h5 {
    color: #16216c;
}